<div class="about-me-container">

    <div class="about-me-content">
        <div class="about-me-text-container">
            <h1>About me</h1>
            <div class="firstparagraph">
                <span>Hi, I’m a German-speaking Frontend Developer based in Cologne. 
                    My passion lies in creating digital experiences that seamlessly blend aesthetics and usability. 
                    Whether it’s a sleek website or a complex application, 
                    I’m driven by the challenge of turning ideas into interactive and engaging solutions.
                </span>
            </div>
            <div class="bullet-points">
                <div class="bullet-flex">
                    <img src="./assets/images/location.png" alt="">
                    <span>I pride myself on being adaptable—whether working remotely or on-site,
                         I’m committed to delivering high-quality results.
                         I’m also open to relocating to my employer’s city, 
                         ensuring a collaborative and productive work environment.</span>
                </div>
                <div class="bullet-flex">
                    <img src="./assets/images/bulb.png" alt="">
                    <span> I am open-minded and always looking for personal challenges to constantly improve my knowledge
                        and skills.</span>
                </div>
                <div class="bullet-flex">
                    <img src="./assets/images/puzzle.svg" alt="">
                    <span>In my profession, programming isn't just about writing code, it's a creative form of
                        problem-solving. I enjoy simplifying complex technical challenges and designing solutions that put users first. 
                        Each project is an opportunity to learn, improve, and contribute to something impactful.
                    </span>
                </div>
            </div>
        </div>

        <div class="second-portrait-container">
            <img src="./assets/images/profile-picture2.jpg" alt="">
            <div class="sideline-green"></div>
        </div>

        <img class="purple-shadow" src="./assets/images/purple-about-me.png" alt="">
    </div>
</div>