.main-content {
    background: linear-gradient(165.69deg, rgba(26, 39, 67, 1) 37.75%, rgba(39, 51, 75, 1) 43.25%, rgba(20, 29, 47, 1) 70.18%);
    height: calc(100vh - 100px);
    width: 100%;
    padding-top: 100px;
}

.header-container {
    width: 100%;
}
