<footer>
    <div class="top-line-green"></div>
    <div class="footer-content">
        <div class="name-container">
            <a class="atf-tag" href="#atf">
                <h1 class="headline-name">
                    <span>E</span>
                    <span class="d-purple">d</span>
                    <span>u</span>
                    <span>a</span>
                    <span>r</span>
                    <span class="d-color">d</span>
                </h1>
            </a>
            <a class="legal-tag" href="Legal-Notice">Legal Notice</a>
        </div>
        <div class="at-name">© Eduard Fray 2024</div>
        <div class="footer-links">
            <a href="https://github.com/EduardFray" target="_blank"><img src="./assets/images/github.png"
                    alt="github Image"></a>
            <a href="#contact"><img src="./assets/images/mail.png" alt="mail icon"></a>
            <a href="https://www.linkedin.com/in/eduard-fray-696ba81a9" target="_blank"><img
                    src="./assets/images/linkdin.png" alt="linkedin icon"></a>
        </div>
    </div>
</footer>