.testimonials-container {
    background-color: rgba(20, 29, 47, 1);
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 200px;
    gap: 148px;
    padding-left: 100px;
    position: relative;
    overflow: hidden;
}

.testimonial-1440 {
    width: 1440px;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.border-and-arrows {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    height: 330px;
}

.speech-mark {
    position: absolute;
    left: -160px;
    top: -35px;
}

.border {
    width: 100%;
    height: 250px;
    border: solid 4px rgba(112, 230, 28);
    padding-top: 48px;
    padding-right: 96px;
    padding-bottom: 48px;
    padding-left: 96px;
    border-radius: 32px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    gap: 44px;


    >span {
        width: 650px;
        text-align: justify;
    }
}

.sideline-right {
    height: 1px;
    background-color: rgba(151, 71, 255, 1);
    border: 3px solid rgba(151, 71, 255, 1);
    width: 10000px;
    position: absolute;
    right: -10000px;
}

.sideline-inside {
    height: 2px;
    background-color: rgba(151, 71, 255, 1);
    border: 1px solid rgba(151, 71, 255, 1);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    width: 100px;
}

.image-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 60px;
    z-index: 5;

    >img {
        border: solid 1px rgba(151, 71, 255, 1);
        border-radius: 50%;
        background-color: rgba(151, 71, 255, 1);
    }
}

.name-container {
    width: 650px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;

    >.sideline-inside {
        width: 550px;
    }

    >span {
        display: flex;
        white-space: nowrap;
    }
}

.arrows-container {
    background-color: rgba(20, 29, 47, 1);
    display: flex;
    justify-content: center;

}

.arrows-and-dots {
    padding-top: 32px;
    width: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    object-fit: cover;

    &:hover {
        >img {
            cursor: pointer;
        }
    }
}

.arrow-right,
.arrow-left {
    border-radius: 50%;
    padding: 3px;
    border: 2px solid transparent;
    box-sizing: border-box;
    transition: border-color 0.125s ease-in-out, background-color 0.125s ease-in-out;
    margin: -2px;
}

.arrow-right:hover,
.arrow-left:hover {
    border-color: rgb(112, 230, 28);
}


.green-shadow {
    position: absolute;
    right: 0;
    top: -100px;
    height: 573px;
    width: 640px;

}

.fade-out {
    opacity: 0;
    transition: opacity 0.200s ease-in-out;
}

.fade-in {
    opacity: 1;
    transition: opacity 0.200s ease-in-out;
}

//Media Quary//

@media (max-width: 1700px) {
    .sideline-right {
        position: static;
        width: 100px;
    }

    .testimonial-1440 {
        position: static;
    }

    .testimonials-container {
        justify-content: flex-end;
    }
}

@media (max-width: 1550px) {
    .border {
        padding-left: 70px;
        padding-right: 70px;
    }

    .speech-mark {
        left: -135px;
    }
}

@media (max-width: 1490px) {
    .border {
        padding-left: 45px;
        padding-right: 45px;
    }

    .speech-mark {
        left: -105px;
    }
}

@media (max-width: 1400px) {
    .border {
        padding-left: 24px;
        padding-right: 24px;

        >span {
            width: 500px;
            z-index: 10;
        }
    }

    .name-container {
        width: 500px;
    }

    .speech-mark {
        left: -90px;
    }

}

@media (max-width: 1200px) {
    .border {
        gap: 24px;

        >span {
            width: 400px;
        }
    }

    .name-container {
        width: 400px;
    }

    .green-shadow {
        bottom: 210px !important;
    }
}

@media (max-width: 1230px) {
    .green-shadow {
        width: 350px;
        bottom: 20px;
    }
}

@media (max-width: 1200px) {
    .testimonial-1440 {
        flex-direction: column-reverse;
        align-items: center;
        gap: 24px;
    }

    .image-container {
        width: 100%;
        justify-content: flex-end;
    }

    .sideline-right {
        width: 35%;
    }

    .border-and-arrows {
        width: 80%;
    }

    .border {
        align-items: center;
        gap: 80px;

        >span {
            width: auto;
        }
    }

    .name-container {
        width: 100%;
    }
}



@media (max-width: 1090px) {
    .green-shadow {
        width: 480px !important;
        bottom: 0;
        height: 764px;

    }
}

@media (max-width: 1000px) {
    .sideline-right {
        width: 32%;
    }

    .green-shadow {
        width: 360px !important;
    }
}

@media (max-width: 850px) {
    .border-and-arrows {
        margin-right: 0;
        width: 70%;
    }

    .sideline-right {
        width: 30%;
    }
}

@media (max-width: 800px) {
    .border-and-arrows {
        width: 60%;
    }

    .border {
        gap: 40px;
    }
}

@media (max-width: 760px) {
    .testimonials-container {
        padding-left: 0;
        gap: 0;
    }

    .testimonial-1440 {
        gap: 0;
        width: 100%;
    }
}

@media (max-width: 670px) {
    .border {
        gap: 0;
    }

    .border-and-arrows {
        width: 70%;
    }

    .sideline-right {
        width: 32%;
    }

    .green-shadow {
        width: 250px !important;
        bottom: 250px !important;
    }

    .image-container {
        >img {
            width: 270px;
            height: 270px;
        }
    }

    .speech-mark {
        width: 64px;
        height: 46px;
        left: -40px;
    }

    .border {
        width: 100%;
    }
}

@media (max-width: 640px) {
    .sideline-right {
        width: 26%;
    }
}

@media (max-width: 560px) {
    .border {
        gap: 100px;
        padding-top: 24px;

        >span {
            font-size: 16px;
        }
    }

    .border-and-arrows {
        height: 400px;
    }

    .speech-mark {
        left: -30px;
    }

    .sideline-right {
        width: 20%;
    }
}

@media (max-width: 530px) {
    .border {
        gap: 40px;
        width: 80%;

        >span {
            width: 260px;
        }
    }

    .name-container {
        width: 290px;
    }
}

@media (max-width: 430px) {
    .image-container {
        width: 110%;
    }

    .speech-mark {
        left: -20px;
    }
}

@media (max-width: 410px) {
    .image-container {
        width: 120%;
    }

    .speech-mark {
        left: -15px;
        top: -40px;
    }

    .testimonials-container {
        gap: 0;
        padding-top: 140px;
    }
}

@media (max-width: 400px) {
    .image-container {
        >img {
            width: 210px;
            height: 210px;
        }
    }

    .border-and-arrows {
        height: 530px;
    }

    .border {
        padding-bottom: 187px;
        gap: 75px;
        width: 80%;

        >span {
            height: 315px;
            width: 200px;
        }
    }

    .name-container {
        flex-direction: column;
        align-items: start;
        width: 100%;

        >span {
            line-height: 14px;
        }
    }

    .sideline-inside {
        width: 50px !important;
    }

    .sideline-right {
        width: 25%;
    }
}

@media (max-width: 355px) {
    .image-container {
        width: 130%;
    }

    .sideline-right {
        width: 25%;
    }

    .fade-in {
        font-size: 14px;
    }
}

@media (max-width: 335px) {
    .image-container {
        width: 133%;
    }

    .green-shadow {
        display: none;
    }
}

@media (max-width: 330px) {
    .image-container {
        width: 145%;
    }
}